* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  margin-bottom: 90px;
  /* cách khoảng trống cho footer */
}

a {
  text-decoration: none !important;
  color: var(--theme-text-primary);
}
